   @font-face {
        font-family: 'Rock Two';
        src: url(fonts/roca-two-bold.ttf);
    }

   @font-face {
        font-family:'Raleway';
        src: url(fonts/raleway-extrabold.ttf);
    }

    @font-face {
      font-family: 'Raleway SemiBold';
      src: url(fonts/raleway-semi-bold.ttf);
    }

    .roca {
      font-family: 'Rock Two';
      padding-right: 200px;
      font-size: xx-large;
      color: #DBE2DD;
    }
    
      .navbar-elements {
      font-family: 'Raleway'; 
      padding-right: 150px;
      font-size: x-large;
      color: #DBE2DD !important;
    }

    .navbar-custom {
      height: 200px; 
      background-color: transparent !important;
      position: relative;   
    }
  
    .container1{
      background-image: url(wanderlust.jpg);
      background-size: cover;
    } 

    .referencebg1{
      background-image: url(reference.jpg);
      background-size: cover;
    } 

    .jumbo {
      background-color: transparent;
      font-family: "Raleway";
      color: #DBE2DD;
    }

    .test{
      font-size: 70px;
      text-align: center;
    }

    .containercards1 {
      /*background-image: url(c8cfca.png);*/
      /* background-size: cover; */
      background-color: #c8cfca;
    }

    .ralewayextrabold {
      font-family: 'Raleway';
    }

    .service-box {
    flex: 1;
    padding: 20px;
    border: 1px solid transparent;
    border-radius: 10px;
    transition: transform 0.3s ease, background-color 0.3s ease;
    background-color: transparent;
  }

  .service-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
  }

  .service-box:hover {
    transform: scale(1.05);
    border-color:transparent;
    background-color: transparent(0, 0, 0, 0.05); 
  }

  .referencesize {
      font-size: 130px;
      text-align: center;
      text-shadow: 2px 2px 5px black;
      color: white;
  }

  .asiacover1 {
    position: relative;
    height: 100vh; /* full screen */
    width: 100%;
    overflow: hidden;
  }
  
  .asiacover1 video {
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -1;
    transform: translate(-50%, -50%);
    object-fit: cover; /* makes it behave like background-size: cover */
  }
  
  .asiasize {
    font-size: 150px;
    text-align: center;
    text-shadow: 2px 2px 5px #474848;
  }
  
  .asiadesc {
    font-size: 25px;
    text-align: center;
    color: #c8cfca;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
  }

  .asiabg1 {
    background-color: #c8cfca;
  }

  .asiabg2 {
    background-color: #dbe2dd;
  }

  .asiaheader {
    font-family: 'Raleway';
    text-align: center; 
    text-shadow: 2px 2px 2px #737373; 
    letter-spacing: 4px;
  }

  .asiatip {
    font-family: 'Raleway SemiBold';
  }

  .asiatipsleft {
    font-family: 'Raleway';
    text-align: left; 
    text-shadow: 2px 2px 2px #737373; 
    letter-spacing: 1px;
    font-size: 25px;
  }

  .asiafloatright {
    float: right;
    margin-right: 15px;
    width: 200px;
    height: 300px;  
  }

  .asiafloatleft {
    float: left;
    margin-left: 15px; 
  }

  .gallery {
      width: 400px;
      height: 350px;   /* pick a height you like */
      object-fit: cover; /* crop while keeping aspect ratio */
      object-position: center;
  }

  .centergallery {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
   
  .continentcontainer {
    position: relative;
    text-align: center;
    color: white;
  }

  .continenttext {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .countryheader {
    font-family: 'Raleway';
    text-align: center; 
    text-shadow: 2px 2px 2px black; 
    letter-spacing: 4px;
  }
    